{% load static %}
<script src="animation.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'bookapp/style.css' %}">
    <!-- OrpheusW05 -->
    <link href="//db.onlinewebfonts.com/c/8bf03e662b63d69e50bb114b6bd9a60b?family=OrpheusW05-Regular" rel="stylesheet" type="text/css"/>
    <!-- Orpheus Bold -->
    <link href="//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro" rel="stylesheet" type="text/css"/>
    <!-- Animation -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
    <!-- Scroll magic-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <title>Book Shelf</title>
</head>



<body>
   
  
        <!-- Test Nav -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="d-flex justify-content-around align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                        <a class="navbar-brand ml-4"href="../"><img src="https://i.ibb.co/7tNJnsC/Logo.png" height="60" width="auto" border ="0"></a>
                  

                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02"> 
                   
                        <ul class="navbar-nav align-items-center ml-4">
                            <li class="nav-item m-2">
                              <a class="nav-link" href=""><u>Book Shelf</u> <span class="sr-only"></span></a>
          
                            </li>
                            <li class="nav-item m-2">
                              <a class="nav-link" href="../article/">Article</a>
                            </li>
                            <li class="nav-item m-2">
                              <a class="nav-link" href="../about/">About</a>
                            </li>
                          </ul>
                    
                    
                    </div>
                </div>
                
              
            </div>
                
        </nav>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!--background image-->
        <div class="view" style="background-image: url('https://images.unsplash.com/photo-1566370424256-a76a2ae99b27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; margin-top: -89px; height: 70%;">
            <!--mask -->
            
                <div class="mask rgba-white-light align-items-center"> 
                    <!--content-->
                    <div class="container mt-4" style="height: 700px;">
                        <div class="row h-100 mt-4">
                            <div class="col-md-12 my-auto text-center mt-4">
                                <div class="d-flex justify-content-center">
                                    <h1 class="text-reset" style="line-height:60px;">
                                        I feel more alive inside the imagined grace of a universal elixir. I want to believe something more than I want to know it for sure. I want to feel much more than I can piece together using words.
                                    </h1>
                                    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
        
            
        </div>
        
 


<main>
    <div class="container">
        <div class="row">
            <div class="container">
            {% for book in book_objects %}
            <div class="m-4">
                <!-- card -->
                <div class="card border-light m-3 p-3 " style="max-width: 1000px;">
                   
                    <div class="row card-columns">
                        <!--left side image-->
                      <div class="col-md-2 mt-4 ml-5">
                          
                            <img src="{{ book.image }}" class="card-img" alt="...">
                          
                        
                      </div>
                         <!-- right side content -->
                      <div class="col-md-9 ml-2">
                        <div class="card-body">
                          <a href="/{{book.id}}" class="card-title card-link text-dark mt-0">{{ book.name }}</a>
                          <p class="card-subtitle  mb-3 text-muted" style="font-weight: 200;"> By {{ book.author }}</p>
                          <p class="card-text text-justify" >{{ book.description|linebreaksbr }}</small></p>
                        </div>
                      </div>
                      
                    </div>
                   
                 
                </div>
            </div>
            {% endfor%}
        </div>
        
        

    </div>
        
    </div>
</main>
    
</body>
</html>


