@font-face {
    font-family: "OrpheusW05-Regular"; src: 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot"); src: 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot?#iefix") format("embedded-opentype"), 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff2") format("woff2"), 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff") format("woff"), 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.ttf") format("truetype"), 
    url("https://db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.svg#OrpheusW05-Regular") format("svg"); }


@media screen and (max-width:720px){
    .card-img{
        width:150px;
        height: auto;
    }
}
.card-title{
    font-size: 1.7rem;
    font-weight: 200;
    font-family: "OrpheusW05-Regular";src: url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot"); src: url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff") format("woff"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.svg#OrpheusW05-Regular") format("svg"); }
    font-stretch: wider;
    
}

.card-subtitle{
    font-weight: lighter!important;
    font-size: smaller;
}
.card-text{
    font-size: 17px !important;
    font-weight: 200 !important;
    color:black !important ;
    overflow: hidden;
    height: 9em; 
    text-overflow: ellipsis !important;
   
}

.nav-item{
    font-size: 1.45rem;
    font-family: "OrpheusW05-Regular";
}

h1 {
    font-family: "OrpheusW05-Regular";
    font-size: 20px;
    color: rgb(203,108,230);
}

h2{
    font-family: "OrpheusW05-Regular";
    font-size: 17px;
    color: rgb(203,108,230);
}

h5 {
    font-size: 17px !important;
    font-weight: 200 !important;
    line-height: 27px !important;
}

/*see more*/
h6{
    font-size: 15px !important;
    font-weight: 200 !important;
  
}
u{
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    display: inline-block;
    line-height: 1.75;
}


html,
body,
{
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
  }



.view {
    background: url("https://images.unsplash.com/photo-1566370424256-a76a2ae99b27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80.jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
    font-family: "OrpheusW05-Regular";
    font-size: 35px !important;
    
}
<meta content="width=device-width, initial-scale=1" name="viewport" />


@media {
    .view {
        overflow: visible;
        margin-top: -160px;
        font-family: "OrpheusW05-Regular";
        font-size: 35px !important;
    }
}
@media (max-width: 767px) {
    .view {
        overflow: visible;
        margin-top: -160px;
        font-size: 25px !important;
    }
}

/* h1  class="display-5 text-reset m-4" style="font-size: 4.5vw; line-height: 4.5vw;"> */
@media {
    .bg{
        font-size: 75px !important;
        font-family: "OrpheusW05-Regular";
        line-height: 65px;
    }
}
@media (max-width:767px){
    .bg{
        font-size: 45px !important;
        font-family: "OrpheusW05-Regular";
        line-height: 40px;
    }
}



.navbar {
    z-index: 1;
    background-color: transparent;
    border:none;
    box-shadow: none!important;
}

.top-nav-collapse {
    background-color:white !important;
  }

.navbar.collapsing,
.navbar.show {
    background:white !important;
}

.parallax-curtain{
    background:none;
}


<!-- color: rgb(203,108,230); -->

